.blobb_svg {
  width: 100%;
  max-height: 80%;
  overflow: visible;

  transition: 1s ease;
  /* min-width: 500px; */
  /* animation: pop-in .5s ease .25s forwards; */

  transform: translate(100px);
  opacity: 0;
  animation: slide .75s ease .25s forwards;
}
@keyframes pop-in {
  /* 0% {opacity: 0;} */
  50% {
    opacity: 1;
    scale: 1.1;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}

@keyframes slide {
  /* 0% {opacity: 0;} */
  100% {
    opacity: 1;
    transform: translate(0);
  }
}