.div_stats_h, .div_stats_s {
  position: absolute;
  left: 100vw;

  width: 210px;
  /* height: 50%; */
  margin: 25px 0;
  padding: 0px 20px 15px 20px;

  border: 2px solid #5e5e5e;
  border-radius: 5px;

  background-color: #0005;
  box-shadow: 2px 2px 5px rgb(0, 0, 0, .75);
  
  transition: left .5s ease;
}

.div_stats_s {
  left: calc(100vw - 250px);
}

.stats_title {
  --x-color: #323232;
  position: relative;
  bottom: 12px;

  cursor: pointer;
  user-select: none;
 
  padding: 0 5px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  background-color: aliceblue;
  transition: background-color .25s ease, color .25s ease;
}
.stats_title:hover {
  color: #323232;
  background-color: #c2c5c8;
  --x-color: aliceblue;
}

.highlight {
  padding: 0 5px;
  margin-right: 2px;
  border-radius: 5px;
  color: var(--x-color);
  background-color: #c2c5c8;
  transition: .1s ease;
}

.stat_div {
  display: flex;
  padding: 0 5px;
  margin-bottom: 5px;
  font-weight: bold;
  border-radius: 5px;
  border-bottom: 2px solid #5e5e5e;

  background-color: aliceblue;
  box-shadow: 2px 2px 3px rgb(0, 0, 0);

  transition: .25s ease;
}
.stat_div:hover {
  cursor: default;  
  translate: -5px;
}

.stat_title {
  text-align: start;
}

.stat_value {
  flex: 1;
  text-align: end;
  color: #323232;
}

.value_link {
  text-decoration: none;
  transition: .25s ease;
}
.value_link:hover {
  color: #323232;
}

.history_button {
  user-select: none;
  cursor: pointer;
  
  margin: 15px 20px 0 20px;
  padding: 5px 10px;

  border: 2px solid #5e5e5e;
  border-radius: 5px;

  text-align: center;
  font-weight: bold;
  font-size: 18px;
  box-shadow: 2px 2px 5px rgb(0, 0, 0, .75);

  transition: .25s ease, background-color .1s ease;
}
.history_button:hover {
  margin: 15px 25px 0 25px;

  border: 2px solid aliceblue;
  border-radius: 10px;

  color: aliceblue;
}
.history_button:active {
  background-color: aliceblue;
  color: #323232;
}