.root_div {
  display: flex;
  /* flex-direction: column; */
  /* justify-content: center; */
  /* overflow-y: hidden; */
  height: 100vh;
  background-image: url("../graphics/blobbBackground.svg");
  background-size: 100px; /*50px*/
}

.main_layout {
  width: 90%;
  height: 90%;
  flex: 0.9;

  max-width: 1280px;
  max-height: 1080px;
  min-width: 500px;
  min-height: 500px;

  /* margin: 5%; */
  margin: auto;

  /* border-radius: 10px;
  border: 2px solid #3f3f3f; */
  
}
.highlight {
  padding: 0 3px;
  border-radius: 5px;
  color: #323232;
  background-color: #c2c5c8;
  text-shadow: none;
}

.trigger_div {
  display: flex;
  position: absolute;
  top: 150px;
  /* translate: 250px; */
}
.trigger_popup_div {
  position: absolute;
  width: max-content;

  padding: 3px 5px;
  font-weight: bold;
  font-size: 18px;

  border-bottom: 2px solid #5e5e5e;
  border-radius: 5px;
  background-color: aliceblue;

  box-shadow: 2px 2px 5px rgb(0, 0, 0, .75);

  transition: .25s ease;
  animation: trigger-popup 5s ease forwards, idle 4.25s ease forwards;
}

@keyframes trigger-popup {
  0%, 100% {translate: -350px; opacity: 0;}
  25% {translate: 20px; opacity: 1;}
  75% {translate: 20px; opacity: 1;}
}
@keyframes idle {
  0%, 20%, 40%, 60%, 80%, 100% {rotate: -1.5deg;}
  10%, 30%, 50%, 70%, 90% {rotate: 1.5deg;}
}

.highlight_footer {
  cursor: pointer;
  padding: 0 3px;
  border-radius: 5px;
  
  background-color: #c2c5c8;
  text-shadow: none;
  transition: .25s ease;
}
.highlight_footer:hover {
  color: #323232;
}

.footer_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  user-select: none;

  translate: 0px 45px;
  bottom: 0;
  right: 0;
  height: 60px;
  width: 250px;

  padding: 3px 5px;
  text-shadow: 2px 2px 5px #000b;

  border-top: 2px solid #5e5e5e;
  border-left: 2px solid #5e5e5e;
  border-radius: 5px 0 0 0;
  /* background-color: aliceblue; */

  /* box-shadow: -2px 2px 5px rgb(0, 0, 0, .75); */
  transition: .25s ease;
}

.footer_title_span, .footer_arrow_span {
  position: relative;
  bottom: 17px;
 
  padding: 3px 5px;
  font-weight: bold;
  
  border-radius: 5px;
  border-bottom: 2px solid #5e5e5e;

  background-color: aliceblue;
  box-shadow: 0 2px 3px #000a;
  text-shadow: none;
}
.footer_arrow_span {
  margin-right: 10px;
}

.logos_div {
  position: absolute;
  overflow: hidden;
  top: 17px;
}

.logos_svg {
  /* position: relative; */
  cursor: pointer;
  margin: 0 5px;
  stroke: aliceblue;
  /* height: 50px; */
  transition: .25s ease;
}
.logos_svg:hover {
  translate: 0 2px;
}

.no_a {
  text-decoration: none;
}

@media all and (max-height: 700px), all and (max-width: 500px)
{
  .root_div {
    pointer-events: none;
    overflow: hidden;
  }
  .main_layout {
    opacity: 0;
  }
  
  .root_div::after {
    content: "SCREEN IS TOO SMALL";
    position: absolute;
    top: 50%;
    left: calc(50% - 285px);

    font-size: 50px;
    text-shadow: 2px 2px 5px #000a;
    margin: auto;
  }
}
