.root_div {
  display: flex;
  /* flex-direction: column; */
  /* justify-content: center; */
  height: 100vh;
  background-image: url("../graphics/blobbBackground.svg");
  background-size: 100px; /*50px*/
}

.main_layout {
  width: 90%;
  height: 90%;
  flex: 0.9;

  max-width: 1280px;
  max-height: 1080px;
  min-width: 500px;
  min-height: 500px;

  /* margin: 5%; */
  margin: auto;

  /* border-radius: 10px;
  border: 2px solid #3f3f3f; */
  
}
.trigger_div {
  position: absolute;
  top: 120px;
  translate: -200px;
}
.trigger_div_1, .trigger_div_2 {
  position: absolute;
  top: 120px;
  translate: -200px;
  animation: trigger-popup-1 5s ease forwards;
}
.trigger_div_2 {
  animation: trigger-popup-2 5s ease forwards;
}

@keyframes trigger-popup-1 {
  0%, 100% {translate: -200px;}
  25% {translate: 10px;}
  75% {translate: 10px;}
}@keyframes trigger-popup-2 {
  0%, 100% {translate: -200px;}
  25% {translate: 10px;}
  75% {translate: 10px;}
}

@media all and (max-height: 700px), all and (max-width: 500px)
{
  .root_div {
    pointer-events: none;
    overflow: hidden;
  }
  .main_layout {
    opacity: 0;
  }
  
  .root_div::after {
    content: "SCREEN IS TOO SMALL";
    position: absolute;
    top: 50%;
    left: calc(50% - 285px);

    font-size: 50px;
    text-shadow: 2px 2px 5px #000a;
    margin: auto;
  }
}
